<div class="signup-box">
  <div class="signup-card">
    <h1>Login</h1>
    <h2>Welcome back! Enter your login information to keep playing:</h2>

    <%= form_tag sessions_path do %>
      <div class="form-control">
        <%= label_tag :email, 'Email' %>
        <%= text_field_tag :email %>
      </div>
      <div class="form-control">
        <%= label_tag :password, 'Password' %>
        <%= password_field_tag :password %>
        <%= link_to 'Forgot your password?', root_path, class: 'form-text', tabindex: -1 %>
      </div>
      <div class="form-control">
        <%= button_tag 'Login to my Account', class: 'btn btn-signup' %>
      </div>
    <% end %>
  </div>

  <div class="signup-brand-info">
    <%= image_tag(asset_pack_path('images/logo.svg'), alt: 'Live Speed Logo', class: 'signup-logo') %>
    <p>First timer?</p>

    <div class="btn-col signup-alternatives-box">
      <%= link_to 'Start Playing Now', new_player_path, class: 'btn' %>
      <%= link_to 'Sign Up For an Account', new_sessions_path, class: 'btn btn-outline' %>
    </div>
  </div>
</div>
