<%= content_for(:body_class) { 'signup-container' } %>

<div class="signup-box">
  <div class="signup-card">
    <h1><%= t('.title') %></h1>
    <h2><%= t('.subtitle') %></h2>

    <%= form_tag sessions_path do %>
      <div class="form-control">
        <%= label_tag :email, User.human_attribute_name(:email) %>
        <%= text_field_tag :email %>
      </div>
      <div class="form-control">
        <%= label_tag :password, User.human_attribute_name(:password) %>
        <%= password_field_tag :password %>
        <%= link_to t('.forgot_password'), root_path, class: 'form-text', tabindex: -1 %>
      </div>
      <div class="form-control">
        <%= button_tag t('.submit'), class: 'btn btn-lg btn-signup' %>
      </div>
    <% end %>
  </div>

  <div class="signup-brand-info">
    <%= image_tag(asset_pack_path('images/logo.svg'), alt: t(:logo_alt), class: 'signup-logo') %>
    <p><%= t('.first_timer') %></p>

    <div class="btn-col signup-alternatives-box">
      <%= link_to t('.new_player_btn'), new_player_path, class: 'btn btn-lg' %>
      <%= link_to t('.signup_btn'), new_user_path, class: 'btn btn-lg btn-outline' %>
    </div>
  </div>
</div>
