<%= content_for(:body_class) { 'signup-container' } %>

<div class="signup-box">
  <div class="signup-card">
    <h1><%= t('.title') %></h1>
    <h2><%= t('.subtitle') %></h2>

    <%= form_with(model: @user, local: true, html: { autocomplete: 'off' }) do |f| %>
      <%= vue_component('new-player-form', props: { initialName: @user.name }) %>
    <% end %>
  </div>

  <div class="signup-brand-info">
    <%= image_tag(asset_pack_path('images/logo.svg'), alt: t(:logo_alt), class: 'signup-logo') %>
    <p><%= t('.options') %></p>

    <div class="btn-col signup-alternatives-box">
      <%= link_to t('.login_btn'), new_sessions_path, class: 'btn btn-lg' %>
      <%= link_to t('.new_player_btn'), new_player_path, class: 'btn btn-lg btn-outline' %>
    </div>
  </div>
</div>
