<h1>Game <%= @game.id %></h1>

<h3>Players:</h3>
<ol>
  <% @game.players.each do |player| %>
    <li><%= player.name %></li>
  <% end %>
</ol>

<h3>Rounds: (best of <%= @game.num_rounds %>)</h3>

<%= form_with model: @game do |f| %>
  <%= f.hidden_field :action, value: :create_next_round! %>
  <%= f.submit 'Create Next Round' %>
<% end %>

<ol>
  <% @game.rounds.each do |round| %>
    <li><%= link_to "Round #{round.number}", round %></li>
  <% end %>
</ol>

<% if @game.winner.present? %>
  <h3>Winner:</h3>

  <h4><%= @game.winner.name %></h4>
<% end %>
