<%= content_for(:body_class) { 'signup-container' } %>

<div class="signup-box">
  <div class="signup-card">
    <h1><%= t('.title_html') %></h1>
    <h2><%= t('.subtitle') %></h2>

    <%= form_with(model: @player, local: true, html: { autocomplete: 'off' }) do |f| %>
      <%= vue_component('NewPlayerForm', props: { initialName: @player.name }) %>
    <% end %>
  </div>

  <div class="signup-brand-info">
    <%= image_tag(asset_pack_path('media/images/logo.svg'), alt: t(:logo_alt), class: 'signup-logo') %>
    <p><%= t('.options') %></p>

    <div class="btn-col signup-alternatives-box">
      <%= link_to t('.login_btn'), login_path, class: 'btn btn-lg' %>
      <%= link_to t('.signup_btn'), sign_up_path, class: 'btn btn-lg btn-outline' %>
    </div>
  </div>
</div>
