<%= content_for(:body_class) { 'signup-container' } %>

<div class="signup-box">
  <div class="signup-card">
    <h1>
      Almost there!
      <br />
      We just need one more thing:
    </h1>
    <h2>Choose a name to play:</h2>

    <%= form_with(model: @player, local: true, html: { autocomplete: 'off' }) do |f| %>
      <%= vue_component('new-player-form', props: { initialName: @player.name }) %>
    <% end %>
  </div>

  <div class="signup-brand-info">
    <%= image_tag('logo/logo.svg', alt: 'Live Speed Logo', class: 'signup-logo') %>
    <p>You can also:</p>

    <div class="btn-col signup-alternatives-box">
      <%= link_to 'Sign In', new_sessions_path, class: 'btn' %>
      <%= link_to 'Sign Up For an Account', new_sessions_path, class: 'btn btn-outline' %>
    </div>
  </div>
</div>
