<%= title 'Create new Match' %>

<%= form_with(model: @match) do |f| %>
  <div class="form-control">
    <%= f.label :num_players, 'Number of Players' %>
    <%= f.text_field :num_players %>
  </div>
  <div class="form-control">
    <%= f.label :num_rounds, 'Number of Rounds' %>
    <%= f.text_field :num_rounds %>
  </div>
  <div class="form-control">
    <%= link_to 'Back', :back, class: 'btn btn-outline' %>
    <%= f.button 'Create Match', class: 'btn' %>
  </div>
<% end %>