<%= title t('.title') %>

<%= form_with(model: @match) do |f| %>
  <div class="form-control">
    <%= f.label :num_players %>
    <%= f.text_field :num_players %>
  </div>
  <div class="form-control">
    <%= f.label :num_rounds %>
    <%= f.text_field :num_rounds %>
  </div>
  <div class="form-control">
    <%= link_to t(:back), :back, class: 'btn btn-outline' %>
    <%= f.button t('.submit'), class: 'btn' %>
  </div>
<% end %>
