<h1>Match <%= @match.id %></h1>

<% if @match.can_play? %>
  <%= link_to 'Play Match!', play_match_path(@match) %>
<% end %>

<h3>Players (<%= @match.players.size %>/<%= @match.num_players %>):</h3>
<ol>
  <% @match.players.each do |player| %>
    <li><%= player.name %></li>
  <% end %>
</ol>

<% if @match.winner_id %>
  <h3>Winner:</h3>
  <p><%= @match.winner.name %></p>
<% end %>

<h3>Rounds (<%= @match.rounds.size %> / <%= @match.num_rounds %>):</h3>

<ol>
  <% @match.rounds.each do |round| %>
    <li>Winner: <%= round.winner&.name || 'Not finished' %></li>
  <% end %>
</ol>