<%= title t('.title', description: @match.description) %>

<% if @match.can_play? %>
  <%= link_to t('.play_btn'), play_match_path(@match), class: 'btn' %>
<% end %>

<h3><%= Players.model_name.human(count: @match.num_players) %></h3>
<ol>
  <% @match.players.each do |player| %>
    <li><%= player.name %></li>
  <% end %>
</ol>

<% if @match.winner_id %>
  <h3><%= t('.winner') %></h3>
  <p><%= @match.winner.name %></p>
<% end %>

<h3><%= Round.model_name.human(count: @match.num_rounds) %></h3>

<ol>
  <% @match.rounds.each do |round| %>
    <li><%= t('.winner') %> <%= round.winner&.name || t('.not_finished') %></li>
  <% end %>
</ol>