<title><%= content_for?(:title) ? yield(:title) : t(:title) %></title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<meta name="viewport" content="width=device-width,initial-scale=1">

<%= stylesheet_pack_tag pack_name, 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag pack_name, 'data-turbolinks-track': 'reload' %>

<%= render partial: 'application/favicon' %>
