<TheMenuBar>
  <div slot="left-menu">
    <% if player_logged_in? %>
      <%= vue_component('MenuBarLink', props: { href: lobby_path, label: 'Find a Match' }) %>
      <%= vue_component('MenuBarLink', props: { href: matches_path, label: 'My Matches' }) %>
    <% end %>

    <%= vue_component('MenuBarLink', props: { href: how_to_play_path, label: 'How to Play' }) %>
  </div>
  <div slot="right-menu">
    <% if player_logged_in? %>
      <%= vue_component('MenuBarLink', props: { href: sessions_path, method: :delete, label: 'Sign out' }) %>
    <% else %>
      <%= vue_component('MenuBarLink', props: { href: new_sessions_path, label: 'Sign in' }) %>
    <% end %>
  </div>
</TheMenuBar>
