<!DOCTYPE html>
<html>
<head>
  <title>LiveSpeed</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>

  <%= render partial: 'application/favicon' %>

  <%= yield :head %>
</head>

<body>
<div class="container" data-behaviour="vue">
  <%= render partial: 'layouts/menu_bar' %>

  <div class="<%= yield(:body_class) if content_for?(:body_class) %>">
    <main>
      <%= yield %>
    </main>
  </div>
</div>
</body>
</html>
