<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/header', locals: { pack_name: 'application' } %>

  <%= yield :head %>
</head>

<body>
<div class="container" data-behaviour="vue">
  <%= render partial: 'layouts/menu_bar' %>

  <div class="content <%= yield(:body_class) if content_for?(:body_class) %>">
    <%= vue_flash %>

    <main>
      <%= yield %>
    </main>
  </div>
</div>
</body>
</html>
