<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render partial: 'layouts/header', locals: { pack_name: 'application' } %>

  <%= yield :head %>
</head>

<body>

<% if content_for?(:before_container) %>
  <div class="before-container">
    <%= yield :before_container %>
  </div>
<% end %>

<div class="container" data-behaviour="vue">
  <%= vue_component('TheMenuBar', props: { ':menu': build_menu_bar.to_json }) %>

  <div class="content <%= yield(:body_class) if content_for?(:body_class) %>">
    <%= vue_flash %>

    <main>
      <%= yield %>
    </main>
  </div>
</div>
</body>
</html>
