<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/header', locals: { pack_name: 'application' } %>

  <%= yield :head %>
</head>

<body>
<div class="container" data-behaviour="vue">
  <%= vue_component('TheMenuBar', props: { ':menu': build_menu_bar.to_json }) %>

  <%= vue_flash(float: true) %>

  <div class="<%= yield(:body_class) if content_for?(:body_class) %>">

    <%= yield %>
  </div>
</div>
</body>
</html>
