<!DOCTYPE html>
<html>
<head>
  <title>LiveSpeed</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>

  <%= render partial: 'application/favicon' %>

  <%= yield :head %>
</head>

<body>
<div class="container" data-behaviour="vue">
  <menu-bar>
    <% if player_logged_in? %>
      <%= vue_component('menu-bar-link', props: { href: lobby_path, label: 'Find a Match' }) %>
      <%= vue_component('menu-bar-link', props: { href: matches_path, label: 'My Matches' }) %>
      <%= vue_component('menu-bar-link', props: { href: how_to_play_path, label: 'How to Play' }) %>
    <% else %>
      <%= vue_component('menu-bar-link', props: { href: new_sessions_path, label: 'Login' }) %>
    <% end %>
  </menu-bar>
  <div class="<%= yield(:body_class) if content_for?(:body_class) %>">
    <%= yield %>
  </div>
</div>
</body>
</html>
